<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <?- include('../base/dependencies') ?>
    <link rel="stylesheet" href="../css/admin_index.css">
    <title>Admin Panel</title>
</head>
<body>
  <?- include('../base/flash') ?>
    <div class="hero">
        <p class="h1">
            Welcome to the admin panel for courses.
            Here you can perform CURD operations.
        </p>
    </div>
    <main class="container my-5">
        <h2 class="text-center">Choose an Operation</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4 my-3">
            <div class="col">
            <a href="upload-gallary">
              <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <img src="../media/icons/upload.png" class="card-img-top mx-auto d-block" alt="...">
                <div class="card-body">
                  <h5 class="card-title">UPLOAD GALLARY</h5>
                </div>
              </div>
            </a>
            </div>
            <div class="col">
            <a href="courses">
              <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <img src="../media/icons/search.png" class="card-img-top mx-auto d-block" alt="...">
                <div class="card-body">
                  <h5 class="card-title">VIEW COURSE</h5>
                </div>
              </div>
            </a>
            </div>
            <div class="col">
            <a href="">
              <div class="card h-100 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <img src="../media/icons/edit.png" class="card-img-top mx-auto d-block" alt="...">
                <div class="card-body">
                  <h5 class="card-title">EDIT COURSE</h5>
                </div>
              </div>
              </a>
            </div>
          </div>
    </main>
    <footer>
        <p>&copy; Pistis Soluton 2022</p>
    </footer>
</body>
</html>