<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel Login</title>
    <link rel="stylesheet" href="../css/admin_login.css">
</head>
<body>
    <?- include('../base/flash') ?>
    <div class="container">
        <div class="login-box">
            <h2>Admin Panel Login</h2>
            <!-- Conditionally render the error message -->
            <? if (error_msg) { ?>
                <div class="error-message"><?= error_msg ?></div>
            <? } ?>
            <form action="login" method="POST">
                <div class="input-box">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-box">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>
