<!DOCTYPE html>
<html lang="en">
<head>
    <?- include('../../base/dependencies') ?>
    <link rel="stylesheet" href="/css/ts.css">
    <link rel="stylesheet" href="/css/course.css">
    <script src="/js/course.js" defer></script>
    <title>COURSE</title>
</head>
<body>
    <?- include('../../base/header') ?>
    <main class="container my-3">
        <? if (success_msg.length >0) { ?>
            <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                <div>
                    <?= success_msg ?>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <? }else if (warning_msg.length > 0) { ?>
            <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#info-fill"/></svg>
                <div>
                    <?= warning_msg ?>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <? }else if (error_msg.length > 0) { ?>
            <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
                <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  <?= error_msg ?>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <? } ?>

        <? if(course) {?>
        <section class="course-head row row-cols-1 row-cols-lg-2 g-4 shadow-sm pb-5">
            <div class="intro-img">
                <img class="mx-auto d-block img-fluid" src="/media/images/<?=course.course_image?>" alt="">
            </div>
            <div class="intro-text text-center">
                <h2><?=course.course_title?></h2>
                <p><?=course.course_summary?></p>
                <a href="#register" class="btn btn-primary"> Register Now</a>
            </div>
        </section>
        <section class="course-body">
            <div class="course-description">
                <h3 class="mb-2">What is <?=course.course_title?></h3>
                <p class=""><?=course.course_description?></p>
            </div>
            <div class="synopsis mt-4">
                <h3 class="text-center mb-3">Course Outline</h3>
                <ul class="row row-cols-lg-2">
                    <? course.course_synopsis.forEach(item =>{ ?>
                        <li><?= item ?></li>
                 <? })?>
                </ul>
                <div class="small">Course duration: <?=course.course_duration?></div>
            </div>
        </section>
        <section class="registration" id="register">
            <form action="" method="post" class="border reg-form shadow-sm rounded row gx-5 gy-3" onsubmit="saveData()">
                <h3 class="text-center mt-2 mb-4">Course Registration</h3>
                <div class="mb-3 col-lg-6">
                    <label for="name" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="full-name" aria-describedby="full-name" name="name">
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email" name="email">
                </div>
                <div class="mb-3 col-lg-4">
                    <label for="course" class="form-label">Course</label>
                    <input type="text" id="course" class="form-control" value="<?=course.course_title?>" disabled>
                </div>
                <div class="mb-3 col-lg-4">
                    <label for="course-duration" class="form-label">Duration</label>
                    <input type="text" id="disabledTextInput" class="form-control" value="<?=course.course_duration?>" disabled>
                </div>
                <div class="mb-3 col-lg-4">
                    <label for="course-price" class="form-label">Price</label>
                    <div class="input-group">
                        <span class="input-group-text">N</span>
                        <input type="text" id="course-price" class="form-control" value="<?=course.course_price?>" disabled>
                        <span class="input-group-text">.00</span>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="cookie-check" checked>
                    <label class="form-check-label" for="cookie-check">save my details on this browser</label>
                </div>
                <input type="hidden" name="course_id" value="<?=course._id?>">
                <div class="mb-3 d-lg-flex justify-content-center">
                    <button type="submit" class="btn btn-primary"> Submit</button>
                </div>
            </form>
        </section>
        <?}else{?>
            <h1>Course Not Found</h1>
        <?}?>
    </main>
    <?- include('../../base/footer') ?>
</body>
</html>