<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../media/icons/logo.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <title>Pistis|Home</title>
</head>
<body>
    <header>
        <div class="company"><img src="../media/icons/logo.png" alt=""></div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li class="dropdown">
                    <button class="nav-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item">IT Solutions</a></li>
                      <li><a class="dropdown-item">Training Solutions</a></li>
                      <li><a class="dropdown-item">Energy Solutions</a></li>
                    </ul>
                </li>
                <li class=""><a class="btn-primary btn" href="#">Get Started</a></li>
            </ul>
        </nav>
    </header>
    <div class="hero">
        <p class="hero-title">Pistis Engineering Solutions</p>
        <p class="hero-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit fugiat dolore ab voluptatum iste odio, inventore odit ducimus quaerat sunt quasi dolores voluptas magni voluptatem? Adipisci, commodi officiis. Ipsa, dolor?</p>
        <button type="button" class="btn btn-primary btn-lg">Get Started</button>
    </div>
    <main>
        <div class="offers">
            <div class="offer">
                <div class="offer-image"><img src="../media/images/it-sol.jpeg" alt=""></div>
                <div class="offer-text">
                    <p class="offer-text-title">IT Solutions</p>
                    <p class="offer-text-details">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, quam repudiandae doloremque ab unde fugiat illo, similique molestias nam ducimus error commodi facilis at ut fuga odit veniam rem. Aperiam!</p>
                    <button type="button" class="btn btn-outline-primary">Discover more...</button>
                
                </div>
            </div>
            <div class="offer">
                <div class="offer-image"><img src="../media/images/train-sol.jpeg" alt=""></div>
                <div class="offer-text">
                    <p class="offer-text-title">Training Solutions</p>
                    <p class="offer-text-details">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet necessitatibus nulla perferendis quia harum explicabo repudiandae quos, quae modi veniam magni nobis maiores praesentium molestias eligendi pariatur suscipit. Tempore, repudiandae!</p>
                    <button type="button" class="btn btn-outline-primary">Discover more...</button>
                </div>
            </div>
            <div class="offer">
                <div class="offer-image"><img src="../media/images/energy-sol.jpg" alt=""></div>
                <div class="offer-text">
                    <p class="offer-text-title">Energy Solutions</p>
                    <p class="offer-text-details">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo beatae perferendis quibusdam necessitatibus eum culpa. Voluptates perspiciatis corrupti quasi sint. Ab explicabo id nobis tempora voluptates dolor incidunt culpa voluptatem.</p>
                    <button type="button" class="btn btn-outline-primary">Discover more...</button>
                    
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-info">
            <div class="news-letter">
                <p>Subscribe to our newsletter</p>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="eamil.example.com" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                  </div>
            </div>
            <div>
                <p class="caption">Our Products</p>
                <div class="all-products">
                    <div class="product-IT">
                        <p>IT Solutions</p>
                        <ul>
                            <li>Networking</li>
                            <li>Software</li>
                            <li>CCTV Installation</li>
                            <li>Lightning</li>
                        </ul>
                    </div>
                    <div class="product-TS">
                        <p>IT Training</p>
                        <ul>
                            <li>Web Development</li>
                            <li>CISCO Networking</li>
                            <li>DevOps</li>
                            <li>Specialised Course</li>
                        </ul>
                    </div>
                    <div class="product-ES">
                        <p>Energy Solutions</p>
                        <ul>
                            <li>Solar Installation</li>
                            <li>Inverter Sales</li>
                            <li>Green Energy</li>
                            <li>Gas plant</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="contact-info">
                <p>Contacts</p>
                <div class="telephone">
                    <i class="bi bi-telephone"> <a href="tel:+235674323">+234-4564-564-32</a></i>
                    <i class="bi bi-envelope"> <a href="mailto:eartlink@gmail.com">eartlnk@email.com</a></i>
                </div>
                <div class="social-icons">
                    <a href="">
                    <i class="bi bi-facebook"></i>
                    </a>
                    <a href="">
                    <i class="bi bi-twitter-x"></i>
                    </a>
                    <a href="">
                    <i class="bi bi-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="copy-write">
            <p>&copy; 2024 EARTLINK. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
