<footer>
    <div class="footer-info">
        <div class="news-letter">
            <p>Subscribe to our newsletter</p>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="eamil.example.com" aria-describedby="button-addon2" id="newsletterEmail">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="submitNewsLetter();">Subscribe</button>
            </div>
        </div>
        <div class="products">
            <p class="caption">Our Products</p>
            <div class="all-products">
                <div class="product-IT">
                    <p>IT Solutions</p>
                    <ul>
                        <li>Networking</li>
                        <li>Software</li>
                        <li>CCTV Installation</li>
                        <li>Lightning</li>
                    </ul>
                </div>
                <div class="product-TS">
                    <p>IT Training</p>
                    <ul>
                        <li>Web Development</li>
                        <li>CISCO Networking</li>
                        <li>DevOps</li>
                        <li>Specialised Course</li>
                    </ul>
                </div>
                <div class="product-ES">
                    <p>Energy Solutions</p>
                    <ul>
                        <li>Solar Installation</li>
                        <li>Inverter Sales</li>
                        <li>Green Energy</li>
                        <li>Gas plant</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact-info">
            <p>Contacts</p>
            <div class="telephone">
                <i class="bi bi-telephone"> <a href="tel:+235674323">+234-4564-564-32</a></i>
                <i class="bi bi-envelope"> <a href="mailto:eartlink@gmail.com">eartlnk@email.com</a></i>
            </div>
            <div class="social-icons">
                <a href="">
                <i class="bi bi-facebook"></i>
                </a>
                <a href="">
                <i class="bi bi-twitter-x"></i>
                </a>
                <a href="">
                <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="copy-write">
        <p>&copy; 2024 EARTLINK. All rights reserved.</p>
    </div>
</footer>