body{
    background: aliceblue url("../media/images/pistis-bg-5.jpg") repeat fixed;
    background-size: cover;
}

header{
    background-color: #eeeeee;
}
header .company img{
    width: 80px;
}
/* HERO */
.hero::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    background: rgba(116, 170, 241, 0.2);
}

.hero{
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background-size: cover;
    color: #fff;
    text-shadow: 0 0 5px #000;
    position: relative;
    background: aliceblue url("../media/images/learning-hero.png") repeat fixed;
    background-size: cover;
}

.hero *{
    z-index: 2;
}

.hero-detail{
    max-width: 760px;
    margin: auto;
    text-align: center;
}

.hero-title{
    font-size: 1.8em;
    font-weight: 700;
}

/* Apply shadow and adjust styling for carousel icons */
.shadow-icon i {
  color: #333; /* Adjust icon color if needed */
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Optional styling to make icons more prominent */
.shadow-icon i:hover {
  color: #000; /* Darken icon on hover */
  text-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Enhance shadow on hover */
}
.myCarousel img{
    height: 450px;
    margin: auto;
    display: block;
}

.myCarousel .carousel-item{
    background-color: #888;
    /* padding: 1rem; */
    border-radius: 5px;
}
.myCarousel .caption{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0000007a;
    color: #f5f5f5;
}
.hire-us{
    background-image: linear-gradient(135deg, rgb(166, 122, 247), aliceblue, white) ;
    /* background-size: cover; */
    background-color: #fff;
}

.hire-us .text-content{
    height: 100%;
    max-width: 760px;
}

.course{
    position: relative;
}

.course img{
    height: 100%;
    object-fit: cover;
}
.course-name{
    position: absolute;
    bottom: 1px;
    padding: 0.2rem;
    background-color: #0000006b;
    color: #f5f5f5;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 1rem;
}

.contact-us-form{
    max-width: 800px;
    background-color: #fff;
}

.work-section{
    background-image: linear-gradient(135deg, rgb(166, 122, 247), aliceblue, white) ;
}

.work{
    list-style: none;

}
.work i{
    color: #0e001a;
}
@media screen and (max-width: 768px){
    .myCarousel img{
        height: auto;
    }
}