.nav .nav-item{
    font-size: 0.9em;
}
.nav{
    gap: 0.5rem;
    --bs-nav-link-padding-x: 0;
    /* padding-left: 2rem; */
    justify-content: space-around;
}

.hero::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.hero{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    background: #f7d0ff url('../media/images/train-sol-edith.png') no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}

.hero *{
    z-index: 2;
}

.hero-title, .hero-detail{
    max-width: 560px;
}

.hero-title{
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 1px solid #fff;
}

.hero-detail{
}

section{
    margin-top: 3rem;
}

.benefits{
    text-align: center;
}
.benefit-icon{
    width: 10em;
}


.testimonials {
    text-align: center;
    background: #333;
    color: #fff;
}
.testimonial-item img{
    width: 150px;
    border-radius: 50%;
}
.testimonial-item {

}
.testimonial-container {
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: var(--box-shadow-light);
    /* background: #fff; */
    
}

/* 




.testimonial-text p{
    font-size: 0.8em;
}
.testimonial-text .author{
    font-weight: 500;
} */
