
body{
    color: #333;
}
.head-nav{
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav .nav-item{
    font-size: 0.9em;
}

.nav{
    gap: 0.7rem;
    --bs-nav-link-padding-x: 0;
}

a.nav-link{
    color: rebeccapurple;
    text-decoration: underline;
}

.hero::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.hero{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    background: #f7d0ff url('../media/images/train-sol-edith.png') no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}

.hero *{
    z-index: 2;
}

.hero-title, .hero-detail{
    max-width: 560px;
}

.hero-title{
    font-size: 1.2em;
    font-weight: 600;
    border-bottom: 1px solid #fff;
}


section{
    margin-top: 3rem;
}

.benefits{
    text-align: center;
}

.benefit-text{
    margin-top: 1rem;
}
.benefit-text p{
    margin: 0;
}
.benefit-title::before,
.benefit-title::after{
    content: "--";
}
.benefit-title{
    font-weight: bold;
}
.benefit-icon{
    width: 6em;
}


.benefit-item {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    margin-top: 2.5rem;
}

.benefit-item.animate {
    opacity: 1;
    transform: translateY(0);
}

.small{
    padding: 0 var(--bs-card-spacer-x);
}

.card-footer .btn-outline-primary,
.faqs .btn-outline-primary,
.btn-outline-primary{
    border-color: #1f003a;
    color: #1f003a;
}

.card-footer .btn-outline-primary:hover,
.faqs .btn-outline-primary:hover{
    background-color: #1f003a;
    color: #fff;
}

.btn-primary, .btn-primary:hover, .btn-primary:active .btn-primary:focus{
  background-color: #1f003a;
  border: #1f003a;
}


.testimonials {
    background-color: #fff;
    text-align: center;
    border-top: 5px solid #1f003a;
    border-bottom: 5px solid #1f003a;
    padding: 2rem 0.2rem;
    box-shadow: 0px 1px 10px #1f003a50;

}

.testimonials h3 {
    color: #1f003a;
}

.testimonial-list {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-item {
    text-align: center;
    padding: 20px;
    /* transition: transform 0.5s ease-in-out; */
}

.testimonial-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-text {
    background-color: #e0d4f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.testimonial-text:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #e0d4f7 transparent;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-text p {
    color: #555;
}

.testimonial-text .author {
    font-weight: bold;
    margin-top: 10px;
    color: #1f003a;
}

/* Customizing carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #1f003a;
    border-radius: 50%;
    padding: 10px;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

/* Adding some vibrant colors */
.testimonial-item:nth-child(odd) .testimonial-text {
    background-color: #c4a7e7;
    border-color: #af72dc;
}

.testimonial-item:nth-child(even) .testimonial-text {
    background-color: #f7e6ff;
    border-color: #e5b5ff;
}


/* FAQS */
.faqs .btn-outline-primary{
    display: block;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


@media (min-width: 576px){
    body{
        font-size: 1.1rem;
    }
    .head-nav{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .nav .nav-item{
        font-size: 1em;
    }
    
    .nav{
        gap: 1rem;
    }
    main.container{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .card-body,
    .small,
    .card-footer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .testimonials {
        padding: 2rem 1rem;
    }
}

@media (min-width: 768px){
    body{
        font-size: 1.2rem;
    }
    .nav .nav-item{
        font-size: 1em;
    }
    
    .nav{
        gap: 1rem;
    }
    section{
        margin-top: 5rem;
    }
    main.container{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .card-body,
    .small,
    .card-footer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .testimonials {
        padding: 2rem 1rem;
    }
}



/* MODAL FORM */
div.modal{
    --bs-modal-width: 860px;
    font-size: 0.8em;
}

.modal-body form.row{
    --bs-gutter-x: 0rem;
}



@media (min-width: 992px){
    header{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    body{
        font-size: 1.3rem;
    }
    .head-nav{
        padding: 0.6rem 0rem;
    }
    .hero-text{
        margin-left:5rem
    }
    div.modal{
    }
    .modal-body{
        padding: 1rem 2rem;
    }
    div.modal div.input-group{
        width: 25%;
        }
    div.modal .form-floating .form-control{
        margin-top: 0.5rem;
        font-size: 0.9em;
    }
}

@media (min-width: 1200px){
    body{
        font-size: 1.5rem;
    }
    header{
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .head-nav{
        padding: 0.6rem 0rem;
    }
}


