    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <p>&copy; 2024 Pistis Solutions. All rights reserved.</p>
            <p>
                <a href="tel:+2348083981055"><i class="bi bi-telephone-fill"></i> +2348083981055</a> | <a href="mailto:info@pistisnetworkingacademy.com.ng">info@pistisnetworkingacademy.com.ng</a>
            </p>
        </div>
    </footer>



