<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../media/icons/logo.png" alt="Logo" width="80" class="d-inline-block align-text-top">
        Pistis Solutions
      </a>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin-panel/newsletter/all">News Letter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registered</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" aria-disabled="true">View Web</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </nav>