<!DOCTYPE html>
<html>
<head>
    <title>Newsletter Emails</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Newsletter Emails</h2>
    <? if (emails.length > 0) { ?>
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <? emails.forEach(function(email) { ?>
                    <tr>
                        <td><?= email.email ?></td>
                        <td>
                                <button type="submit" onclick="deleteEmail('<?=email._id ?>')">Delete</button>
                        </td>
                    </tr>
                <? }); ?>
            </tbody>
        </table>
    <? } else { ?>
        <p>No email subscriptions found.</p>
    <? } ?>

<script>
    function deleteEmail(id) {
    const xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
      console.log(this.responseText);
      }
    xhttp.open("POST", "/admin-panel/newsletter/delete/"+id);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send();
  }
</script>
</body>
</html>
