<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <?- include('../base/dependencies') ?>
        <link rel="stylesheet" href="../css/admin_index.css">
        <link rel="stylesheet" href="../css/admin_upload.css">
        <title>Admin Panel</title>
    </head>
<body>
    <?- include('header') ?>
    <main class="container">
        <h2>Upload Courses to datatabase</h2>
        <form action="upload-course" method="post" id="form" enctype="multipart/form-data">
            <input type="hidden" name="course_cnt" id="course_cnt" value="1">
            <div class="row gy-3 course-form border my-3">
                <div class="col-6 form-floating">
                    <input type="text" class="form-control" id="course-name" placeholder="" name="course-name">
                    <label for="course-name">Course Name</label>
                </div>
                <div class="col-6 form-floating">
                    <input type="text" class="form-control" id="course-summary" placeholder="" name="course-summary">
                    <label for="course-summary">Course Description</label>
                </div>
                <div class="col-6 form-floating">
                    <input type="text" class="form-control" id="course-duration" placeholder="" name="course-duration">
                    <label for="floatingInput">Course Duration</label>
                </div>
                <div class="col-6 form-floating">
                    <input type="number" class="form-control" id="course-price" placeholder="" name="course-price">
                    <label for="course-price">Course Price (N)</label>
                </div>
                <div class="col-6 form-floating">
                    <!-- <p>Please seperate each tag name with a <b>','</b></p> -->
                    <input type="text" class="form-control" id="course-tags" placeholder="" name="course-tags">
                    <label for="course-tags">Tag Names</label>
                </div>
                <div class="col-12 form-floating">
                    <input type="text" name="course-synopsis" class="form-control" placeholder="Course Synopsis" id="course-synopsis" style="height: 100px" >
                    <label for="course-synopsis">Course Synopsis</label>
                </div>
                <div class="col-12 form-floating">
                    <input type="text" name="course-description" class="form-control" placeholder="Leave a comment here" id="course-description" style="height: 100px" >
                    <label for="course-description">Comments</label>
                </div>
                <div class="col-6 form-floating">
                    <input type="file" accept="image/jpeg, image/png" class="form-control" id="course-image" placeholder="" name="course-image">
                    <label for="course-image">Cover Image</label>
                </div>
                <div>
                    <div class="btn add" onclick="addForm(this); return;">Add</div>
                    <div class="btn" onclick="removeFormBox(this); return;">Remove</div>
                </div>
            </div>
            <div class="submit">
                <button type="submit" class="btn-lg btn-primary">UPLOAD</button>
            </div>
        </form>

    </main>


    <script>
        const courseCount = document.getElementById('course_cnt');
        let courseCountN = Number(courseCount.value);
        function addForm(button) {
            document.getElementsByClassName('nav-link')[0].classList.add('active')
            const formBox = document.getElementsByClassName('course-form')[0].cloneNode(true)
            inputs = formBox.querySelectorAll('input, textarea')
            inputs.forEach(element => {
                element.value = ''
                // element.name = element.name+i
            });
            formParent = document.querySelector('#form')
            console.log(formParent)
            formCurrent = button.parentElement.parentElement;
            formCurrent.insertAdjacentElement('afterend', formBox.cloneNode(true));
            courseCountN++;
            console.log(courseCount.value = courseCountN)
            // formParent.appendChild(formBox.cloneNode(true))
        }

        // addBtn = document.querySelector('add')
        function removeFormBox(button) {
            const formBox = button.parentElement.parentElement;
            formBox.remove();
            courseCountN--;
            console.log(courseCount.value = courseCount)
        }

    </script>
</body>
</html>