<!DOCTYPE html>
<html lang="en">
<head>
    <?- include('../base/dependencies') ?>
    <link rel="stylesheet" href="css/index.css">
    <title>Pistis|Home</title>
    <!-- <script src="js/index.js" defer></script> -->

</head>
<body>
    <?- include('../base/header') ?>

    <div id="hero-section" class="carousel slide hero">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#hero-section" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#hero-section" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#hero-section" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="media/images/learning-hero.png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Training Solution</h5>
              <p>Unlock your potential with tech training that drives innovation, sharpens skills, and leads you to success in the digital world.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="media/images/networking-hero.png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>IT Solution</h5>
              <p>Delivering advanced IT solutions with a focus on efficient server management and reliable infrastructure.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="media/images/energy-hero.png" class="d-block w-100" alt="...">
            <div class="carousel-caption">
              <h5>Energy Solution</h5>
              <p>Providing innovative energy solutions for sustainable, efficient, and reliable power management.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-section" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-section" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

      
    <div class="container px-4 py-5" id="hanging-icons">
      <h2 class="pb-2 border-bottom text-purple">Our Services</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 p-2 rounded-3">
            <img src="/media/icons/training-sol-icon.png" width="60" height="60" alt="">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Training Solution</h3>
            <p>Our training solutions include a wide range of courses for individuals, organizations, and institutions, designed to enhance skills and drive success in today's competitive landscape.</p>
            <a href="/training-solution" class="btn btn-purple">
              Learn more
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 p-2 rounded-3">
            <img src="/media/icons/it-sol-icon.png" width="60" height="60" alt="">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">IT Solution</h3>
            <p>Our IT solutions specialize in networking, server installation, and management, providing businesses with reliable, secure, and scalable infrastructure to support their growth and operational needs.</p>
            <a href="/it-solution" class="btn btn-purple">
              Learn more
            </a>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3 p-2 rounded-3">
            <img src="/media/icons/energy-sol-icon.png" width="60" height="60" alt="">
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Energy Solution</h3>
            <p>With our energy solutions, tap into the power of solar, battery storage, and inverters to achieve reliable, sustainable, and cost-efficient energy for your needs.</p>
            <a href="#" class="btn btn-purple">
              Learn more
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container px-4 py-5">
      <h2 class="pb-2 border-bottom text-purple">Our Previous Work Done</h2>
      <div id="apwenCarousel" class="myCarousel carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="/media/images/projects/apwen/slide-1.jpg" alt="Girls Training in conjuction with APWEN" class=" img-fluid">
                  <div class="caption lead text-center p-2">Girls Training in conjuction with APWEN</div>
                </div>
              <div class="carousel-item">
                  <img src="/media/images/projects/da/slide-2.jpg" alt="Data Analysis Class in session" class=" img-fluid">
                  <div class="caption lead text-center p-2">Data Analysis & Visualization Class in session</div>
              </div>
              <div class="carousel-item">
                  <img src="/media/images/projects/da/slide-3.jpg" alt="Data Analysis Class in session" class=" img-fluid">
                  <div class="caption lead text-center p-2">Data Analysis & Visualization Class in session</div>
              </div>
              <div class="carousel-item">
                  <img src="/media/images/projects/da/slide-5.jpg" alt="Completion of Data Analysis Class" class=" img-fluid">
                  <div class="caption lead text-center p-2">Completion of Data Analysis Class</div>
              </div>
              <div class="carousel-item">
                  <img src="/media/images/projects/da/slide-6.jpg" alt="Completion of Data Analysis Class" class=" img-fluid">
                  <div class="caption lead text-center p-2">Completion of Data Analysis Class</div>
              </div>
              <div class="carousel-item">
                  <img src="/media/images/projects/ml-ai/slide-3.jpg" alt="ML/AI class in session" class="img-fluid">
                  <div class="caption lead text-center p-2">ML/AI class in session</div>
                </div>
              <div class="carousel-item">
                  <img src="/media/images/projects/ml-ai/slide-5.jpg" alt="Completion of ML/AI Class" class="img-fluid">
                  <div class="caption lead text-center p-2">Completion of ML/AI Class</div>
              </div>
              <div class="carousel-item">
                  <img src="/media/images/projects/ml-ai/slide-6.jpg" alt="Completion of ML/AI Class" class="img-fluid">
                  <div class="caption lead text-center p-2">Completion of ML/AI Class</div>
              </div>
          </div>
        
          <!-- Custom controls with Bootstrap icons -->
          <button class="carousel-control-prev shadow-icon" type="button" data-bs-target="#apwenCarousel" data-bs-slide="prev">
              <i class="bi bi-arrow-left-circle fs-3"></i>
              <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next shadow-icon" type="button" data-bs-target="#apwenCarousel" data-bs-slide="next">
              <i class="bi bi-arrow-right-circle fs-3"></i>
              <span class="visually-hidden">Next</span>
          </button>

      </div>
  </div>
    <?- include ('../base/footer') ?>
    <script src="static/js/index.js"></script>
</body>
</html>
