<!DOCTYPE html>
<html lang="en">
<head>
    <?- include('../base/dependencies') ?>
    <title>Pistis|Home</title>
    <link rel="stylesheet" href="css/projects.css">
    <script src="js/projects.js" defer></script>
</head>
<body>
    <?- include('../base/header') ?>

    <? if (success_msg.length >0) { ?>
        <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
                <?= success_msg ?>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <? }else if (warning_msg.length > 0) { ?>
        <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#info-fill"/></svg>
            <div>
                <?= warning_msg ?>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <? }else if (error_msg.length > 0) { ?>
        <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" role="alert">
            <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
              <?= error_msg ?>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <? } ?>

    <div class="hero">
        <p class="hero-detail h2 display-5">PistisNetworking Academy delivers hands-on tech training that empowers individuals and organizations to thrive in today’s digital world.</p>
    </div>

    <section class="my-5">
        <div class="container my-3">
            <div class="row align-items-center justify-content-lg-between g-4">
                <div class="col-12 col-lg-6">
                    <div class="text-content text-center text-lg-left">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Corporate & Government Training</h1>
                        <p class="lead">Organizations can partner with us to deliver customized, impactful tech training programs. From government contracts to private enterprise initiatives, we empower teams and communities with the skills needed to excel in a tech-driven world.</p>
                        <div class="btns">
                            <button class="btn btn-primary send-email" data-category="Organizations/Government">Partner with us</button>
                            <button class="btn btn-outline-success send-whatsapp" data-category="Organizations/Government"><i class="bi bi-whatsapp"></i> Partner with us</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div id="apwenCarousel" class="myCarousel carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/media/images/projects/apwen/slide-1.jpg" alt="ml/ai class in session" class=" img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/images/projects/apwen/slide-2.jpg" alt="ml/ai class in session" class=" img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/images/projects/apwen/slide-3.jpg" alt="ml/ai class in session" class="img-fluid">
                            </div>
                        </div>
                      
                        <!-- Custom controls with Bootstrap icons -->
                        <button class="carousel-control-prev shadow-icon" type="button" data-bs-target="#apwenCarousel" data-bs-slide="prev">
                            <i class="bi bi-arrow-left-circle fs-3"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next shadow-icon" type="button" data-bs-target="#apwenCarousel" data-bs-slide="next">
                            <i class="bi bi-arrow-right-circle fs-3"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="caption lead text-center p-2">Girls Training in conjuction with APWEN</div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="my-5">
        <div class="container my-3">
            <div class="row flex-lg-row-reverse align-items-center justify-content-lg-between g-4">
                <div class="col-12 col-lg-6">
                    <div class="text-content text-center text-lg-left">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Private Tutoring</h1>
                        <p class="lead">Personalized Tech Learning for the Next Generation
                            For parents and guardians, we offer one-on-one or small group tech training designed to equip young learners with essential digital skills. Our tutors provide expert guidance, ensuring a foundation for future success.</p>
                        <div class="btns">
                            <button class="btn btn-primary send-email" data-category="Private Tutoring">Hire Us</button>
                            <button class="btn btn-outline-success send-whatsapp" data-category="Private Tutoring"><i class="bi bi-whatsapp"></i> Hire Us</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div id="mlCarousel" class="myCarousel carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/media/images/projects/ml-ai/slide-1.jpg" alt="ml/ai class in session" class=" img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/images/projects/ml-ai/slide-2.jpg" alt="ml/ai class in session" class=" img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/images/projects/da/slide-1.jpg" alt="ml/ai class in session" class="img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/images/projects/ml-ai/slide-4.jpg" alt="ml/ai class in session" class="img-fluid">
                            </div>
                        </div>
                      
                        <!-- Custom controls with Bootstrap icons -->
                        <button class="carousel-control-prev shadow-icon" type="button" data-bs-target="#mlCarousel" data-bs-slide="prev">
                            <i class="bi bi-arrow-left-circle fs-3"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next shadow-icon" type="button" data-bs-target="#mlCarousel" data-bs-slide="next">
                            <i class="bi bi-arrow-right-circle fs-3"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="caption lead text-center p-2">Machine Learning and AI course in session</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 hire-us">
        <div class="container d-flex justify-content-center p-5">
            <div class="text-content text-center">
                <p class="display-6">Join us in empowering Nigeria’s youth with cutting-edge skills in AI and technology, driving innovation and building a brighter future for Africa’s digital landscape.</p>
                <button class="btn btn-primary btn-lg send-email"  data-category="Partnership">Join Us</button>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container my-3">
            <div class="row align-items-center justify-content-lg-between g-4">
                <div class="col-12 col-lg-6">
                    <div class="text-content text-center text-lg-left">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Individual Cohorts – Powered by Cisco</h1>
                        <p class="lead">Individuals ready to advance their tech careers can enroll in our specialized training cohorts, powered by Cisco. Gain hands-on experience, industry-recognized credentials, and join a community of tech enthusiasts on the path to success.</p>
                        <div class="btns">
                            <button class="btn btn-primary send-email"  data-category="Cohort">Contact Us</button>
                            <button class="btn btn-outline-success send-whatsapp" data-category="Cohort"><i class="bi bi-whatsapp"></i> Contact Us</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div id="ciscoCarousel" class="myCarousel carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/media/images/projects/cisco/slide-1.jpg" alt="ml/ai class in session" class=" img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/images/projects/cisco/slide-2.jpg" alt="ml/ai class in session" class=" img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/images/projects/cisco/slide-3.jpg" alt="ml/ai class in session" class="img-fluid">
                            </div>
                            <div class="carousel-item">
                                <img src="/media/images/projects/cisco/slide-4.jpg" alt="ml/ai class in session" class="img-fluid">
                            </div>
                        </div>
                      
                        <!-- Custom controls with Bootstrap icons -->
                        <button class="carousel-control-prev shadow-icon" type="button" data-bs-target="#ciscoCarousel" data-bs-slide="prev">
                            <i class="bi bi-arrow-left-circle fs-3"></i>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next shadow-icon" type="button" data-bs-target="#ciscoCarousel" data-bs-slide="next">
                            <i class="bi bi-arrow-right-circle fs-3"></i>
                            <span class="visually-hidden">Next</span>
                        </button>
                        <div class="caption lead text-center p-2">CISCO Connect for Suleja Youths</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 course-section">
        <div class="container my-3">
            <h3>Some Of Our Courses Includes</h3>
            <div class="course-container row row-cols-lg-4 row-cols-md-3 row-cols-2 g-3">
                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/devops.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Dev Ops</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/networking.jpg" alt=""  class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Networking</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/ml.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">ML/AI</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/cs.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Cyber Security</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/data-analysis.jpeg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Data Analysis</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/ui-ux.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">UI/UX</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/web-dev.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Web Development</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/server.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Server Installation</span>
                    </div>
                </div>
                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/cloud-computing.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Cloud Computing</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 work-section p-3 p-md-5">
        <div class="container">
            <h3>Our Past Works Includes </h3>
            <ul class="work-container">
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Digital literacy for the girl child Apwen in conjunction with Women's Development Commission</li>
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Training of 100 youths in IT Essentials</li>
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Training of FMBN ICT staff on VoIP</li>
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Training of 300 girls on Digital Technology in collaboration with the wife of Plateau state governor.</li>
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Partnership with 3MTT In Teaching the following courses:
                    <ul>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> ML/AI</li>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> Cyber Security</li>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> Data Science</li>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> Data Analysis & Visualization</li>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> UI/UX</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <form method="post" action="/send-mail" class="contact-us-form p-4 rounded shadow border mx-auto" id="contact-us-form">
                <legend>Contact Us</legend>
                <div class="row">
                    <div class="col-lg-4 mb-3">
                        <label for="" class="form-label fs-6">Name</label>
                        <input type="text" class="form-control" placeholder="Name" name="name" required>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label for="" class="form-label fs-6">Email</label>
                        <input type="email" class="form-control" placeholder="email@example.com" name="email" required>
                    </div>

                    <div class="col-lg-4 mb-3">
                        <label for="" class="form-label fs-6">Category</label>
                        <select class="form-select mb-3" aria-label=".form-select-lg example" name="category" id="category-select" required>
                            <option selected>Choose a category</option>
                            <option value="Organizations/Government">Organizations/Government</option>
                            <option value="Private Tutoring">Private Tutoring</option>
                            <option value="Cohort">Cohort</option>
                            <option value="Partnership">Partnership</option>
                        </select>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label for="" class="form-label fs-6">Maessage (optional)</label>
                        <textarea class="form-control" name="message"></textarea>
                    </div>
                </div>
                <div class="btns">
                    <button class="btn btn-primary">Send</button>
                    <button class="btn btn-outline-success send-whatsapp-form"><i class="bi bi-whatsapp"></i> Send</button>
                </div>
            </form>
        </div>
    </section>
    <?- include ('../base/footer') ?>
</body>
</html>
