<!DOCTYPE html>
<html lang="en">
<head>
    <?- include('../base/dependencies') ?>
    <title>Pistis|Home</title>
    <link rel="stylesheet" href="css/training_sol.css">
    <script src="js/projects.js" defer></script>
</head>
<body>
    <?- include('../base/flash') ?>
    <?- include('../base/header') ?>

    <div class="hero">
        <div class="container text-center">
            <h1 class="display-4">Offers hands-on tech training to help individuals and organizations succeed in the digital world.</h1>

        </div>
    </div>

    <section class="my-5">
        <div class="container my-3">
            <div class="row align-items-center justify-content-lg-between g-4">
                <div class="col-12">
                    <div class="text-content text-center text-lg-left">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Corporate & Government Training</h1>
                        <p class="lead">Organizations can partner with us to deliver customized, impactful tech training programs. From government contracts to private enterprise initiatives, we empower teams and communities with the skills needed to excel in a tech-driven world.</p>
                        <div class="btns">
                            <!-- <button class="btn btn-primary send-email" data-category="Organizations/Government">Partner with us</button> -->
                            <!-- <button class="btn btn-lg btn-purple-outline send-whatsapp" data-category="Organizations/Government"><i class="bi bi-whatsapp"></i> Partner with us</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="my-5">
        <div class="container my-3">
            <div class="row flex-lg-row-reverse align-items-center justify-content-lg-between g-4">
                <div class="col-12">
                    <div class="text-content text-center text-lg-left">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Private Tutoring</h1>
                        <p class="lead">Personalized Tech Learning for the Next Generation
                            For parents and guardians, we offer one-on-one or small group tech training designed to equip young learners with essential digital skills. Our tutors provide expert guidance, ensuring a foundation for future success.</p>
                        <div class="btns">
                            <!-- <button class="btn btn-primary send-email" data-category="Private Tutoring">Hire Us</button> -->
                            <!-- <button class="btn btn-lg btn-purple-outline send-whatsapp" data-category="Private Tutoring"><i class="bi bi-whatsapp"></i> Hire Us</button> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="my-5 hire-us">
        <div class="container d-flex justify-content-center p-5">
            <div class="text-content text-center">
                <p class="display-6">Join us in empowering Nigeria’s youth with cutting-edge skills in AI and technology, driving innovation and building a brighter future for Africa’s digital landscape.</p>
                <button class="btn btn-lg btn-purple send-whatsapp" data-category="Partnership"><i class="bi bi-whatsapp"></i> Contact Us</button>

            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="container my-3">
            <div class="row align-items-center justify-content-lg-between g-4">
                <div class="col-12">
                    <div class="text-content text-center text-lg-left">
                        <h1 class="display-5 fw-bold lh-1 mb-3">Individual Cohorts</h1>
                        <p class="lead">Individuals ready to advance their tech careers can enroll in our specialized training cohorts. Gain hands-on experience, industry-recognized credentials, and join a community of tech enthusiasts on the path to success.</p>
                        <div class="btns">
                            <!-- <button class="btn btn-primary send-email"  data-category="Cohort">Contact Us</button> -->
                            <!-- <button class="btn btn-purple-outline send-whatsapp" data-category="Cohort"><i class="bi bi-whatsapp"></i> Contact Us</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <section class="my-5 course-section">
        <div class="container my-3">
            <h1 class="display-5 lh-1 mb-3 text-center fw-bold">Some Of Our Courses Includes</h1>
            <div class="course-container row row-cols-lg-4 row-cols-md-3 row-cols-2 g-3">
                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/devops.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Dev Ops</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/networking.jpg" alt=""  class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Networking</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/ml.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">ML/AI</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/cs.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Cyber Security</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/data-analysis.jpeg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Data Analysis</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/ui-ux.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">UI/UX</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/web-dev.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Web Development</span>
                    </div>
                </div>

                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/server.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Server Installation</span>
                    </div>
                </div>
                <div class="col">
                    <div class="course h-100">
                        <img src="/media/images/cloud-computing.jpg" alt="" class="rounded-3 img-thumbnail img-fluid">
                        <span class="course-name">Cloud Computing</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5 work-section p-3 p-md-5">
        <div class="container">
            <h3>Our Past Works Includes </h3>
            <ul class="work-container">
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Digital literacy for the girl child Apwen in conjunction with Women's Development Commission</li>
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Training of 100 youths in IT Essentials</li>
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Training of FMBN ICT staff on VoIP</li>
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Training of 300 girls on Digital Technology in collaboration with the wife of Plateau state governor.</li>
                <li class="work mb-2"><i class="bi bi-star-fill"></i> Partnership with 3MTT In Teaching the following courses:
                    <ul>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> ML/AI</li>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> Cyber Security</li>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> Data Science</li>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> Data Analysis & Visualization</li>
                        <li class="work mb-1 fs-6"><i class="bi bi-star"></i> UI/UX</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

    <section class="my-5">
        <div class="container">
            <form method="post" action="/send-course-mail" class="contact-us-form p-4 rounded shadow border mx-auto" id="contact-us-form">
                <legend>Sign Up for a Course</legend>
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <label for="" class="form-label fs-6">Name</label>
                        <input type="text" class="form-control" placeholder="Lastname Firstname" name="name" required>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label for="" class="form-label fs-6">Email</label>
                        <input type="email" class="form-control" placeholder="email@example.com" name="email" required>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label for="" class="form-label fs-6">Phone Number (whatsapp)</label>
                        <input type="text" class="form-control" placeholder="08000000001" name="phoneNumber" required>
                    </div>

                    <div class="col-lg-6 mb-3">
                        <label for="" class="form-label fs-6">Course</label>
                        <select class="form-select mb-3" aria-label=".form-select-lg example" name="course" id="category-select" required>
                            <option selected>Choose a category</option>
                            <option value="web-development">Web Development</option>
                            <option value="data-science">Data Science</option>
                            <option value="machine-learning">Machine Learning</option>
                            <option value="cloud-computing">Cloud Computing</option>
                            <option value="cybersecurity">Cybersecurity</option>
                            <option value="mobile-app-development">Mobile App Development</option>
                            <option value="artificial-intelligence">Artificial Intelligence</option>
                            <option value="ui-ux-design">UI/UX Design</option>
                            <option value="dev-ops">DevOps</option>
                            <option value="networking">Networking</option>
                            <option value="server-installation">Server Installation</option>
                        </select>
                    </div>
                    <div class="col-lg-12 mb-3">
                        <label for="" class="form-label fs-6">Message (optional)</label>
                        <textarea class="form-control" name="message"></textarea>
                    </div>
                </div>
                <div class="btns">
                    <!-- <button class="btn btn-primary">Send</button> -->
                    <button class="btn btn-purple-outline"> Send</button>
                </div>
            </form>
        </div>
    </section>
    <?- include ('../base/footer') ?>
</body>
</html>
