@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root{
    --primary-color: #8c00ff;
}

body{
    background-color: #e5e5e5;
}

header{
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0.5rem 2rem;
}

.company{
    /* border: 1px solid brown; */

}
.company img{
    width: 150px;

}

nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: end;
    gap: 1rem;
    /* border: 1px solid brown; */
}
nav ul li, nav ul li a, .nav-item{
    list-style-type: none;
    text-decoration: none;
    border: none;
    color: #333;
}
.hero::before{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.hero{
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background: #8c00ff url('../../media/images/gradient-grid-background.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
}
.hero *{
    z-index: 2;
}
.hero-title, .hero-detail{
    max-width: 560px;
    margin: auto;
    text-align: center;
}
.hero-title{
    font-size: 3em;
    font-weight: 700;
}
.hero-detail{
    font-size: 1.5em;
}

.hero .btn{
    margin-top: 1.5rem;
}

.offers{
    display: grid;
    grid-template-columns: auto;
    max-width: 980px;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem 2rem;
    gap: 3rem;
}

.offer{
    display: flex;
    gap: 2rem;
    border: 1px solid #0e001a;
    border-radius: 10px;
}

.offer-image{
    width: 40%;
}

.offer-text{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
}
.offer img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}
.offer:nth-child(even) .offer-image{
    order: 2;
}
.offer:nth-child(even) .offer-image img{
    border-radius: 0px 10px 10px 0px;
    
}

.offer-text-title{
    font-weight: 700;
    font-size: 1.5em;
}

.offer-text-details{
    font-size: 1.2em;
}

.offer-text .btn-outline-primary{
    border-color: #1f003a;
    color: #1f003a;
}

.offer-text .btn-outline-primary:hover{
    background-color: #1f003a;
    color: #fff;
}
/* FOOTER */
footer {
    background-color: #0e001a;
    color: #e5e5e5;
    padding: 2rem 3rem;

}

footer a{
    color: #fff;
}

.footer-info {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
}

footer .caption{
    text-align: center;
}
.all-products{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 1rem;
    /* text-align: left; */
}
.all-products p{
    text-align: center;
}

.telephone i{
 display: block;
 margin-top: 0.7rem;
}

.social-icons{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}
